.dropdown {
    height: 100%;
    border: 0px solid white;
    border-radius: 5px;
}


.title {
    width: 100%;
    height: 10%;
    text-align: center;
}

.title h2 {
    margin-top: 15px;
}

.content {
    display: -webkit-flex;
    display: flex;
}

.maps {
    height: 500px;
    width: 85%;
    left: 0%;
    margin: 0px 0px 0px 0px;
    display: -webkit-flex;

}

.sidebar {
    flex-shrink: 6;
    visibility: hidden;
    overflow: hidden;
}

.nav-item button{
    margin-left: 20px;
    width: 150px;
}

.uniform-buttons {
    width: 45%
}

#table-maps {
    visibility: hidden;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#table-maps th {
    height: 30px;
}

@media screen and (max-width: 830px) {
    .content {
        display: block;
    }

    .sidebar {
        text-align: center;
        width: 100%;
    }

    .sidebar-content {
        width: 100%;
    }

    .maps {
        text-align: center;
        width: 100%;
    }
}
.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}